@font-face {
  font-family: roboto-r;
  src: url(fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: roboto-l;
  src: url(fonts/Roboto-Light.ttf);
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: roboto-c;
  src: url(fonts/Roboto-Condensed.ttf);
  font-weight: bold;
  font-style: normal;
}
body {
	font-family: "roboto-l";
}
.container {
	margin-top:50px;
	/* border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd; */
}
.clear{
	clear: both;
}
.navbar .brand {
	font-size: 24px;
	font-family: "roboto-r";
	color: #cccccc;
}
.intro-text {
	font-size: 38px;
	text-align: center;
	line-height: 50px;
	padding: 10px;
	color: #555555;
}
.quote-blocks {
	margin-top: 60px;
	padding: 10px;
	blockquote {		
		margin-bottom: 20px;
		p {
			font-size: 20px;
			font-family: "roboto-r";
		}
		span {
			font-family: "roboto-r";
		}
	}
}